## Operator Precedence

1. ()
2. **
3. */
4. +-

In [1]:
print((20-3) + 2 ** 2)

21

In [2]:
# Guess the output of each answer before you click RUN
# Try to write down your answer before and see how you do... keep it mind I made it a little tricky for you :)

print((5 + 4) * 10 / 2)

print(((5 + 4) * 10) / 2)

print((5 + 4) * (10 / 2))

print(5 + (4 * 10) / 2)

print(5 + 4 * 10 // 2)

45.0
45.0
45.0
25.0
25

## Optional - bin() and complex

- bin() -> Gives binary representation of the number
- complex -> Complex Number

In [3]:
print(bin(5))

0b101

In [4]:
print(int('0b101', 2))

5

## Variables

- Varaibles are used to store the information  
- There is also variable type called dunder which are inbuilt -> __main__

In [5]:
a,b,c = 1,2,3

In [6]:
a,b,c

(1, 2, 3)

## Expressions and Statements 

**Example -> user_age = iq / 5**

Expressions ->  iq / 5

Statement -> user_age = iq / 5

## Augmented Assignment Operator

In [9]:
some_value = 5
some_value += 2 ## Augmented Assignment Operator

In [8]:
some_value

7

## Type Conversion

In [14]:
a = str(100)
b = int(a)
c = int(str(100))

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'int'>

In [50]:
birth_year ='1995'
age = 2020-int(birth_year)
age

25

## Escape Sequence

In [16]:
weather = "\t It\'s \"Kind of\" sunny \n hope you have a good day"
print(weather)

	 It's "Kind of" sunny
 hope you have a good day

## Formated Strings

In [17]:
name = 'Vishwas'
age = 25

print(f'hi {name} your age is {age}') # Python 3

hi Vishwas your age is 25

In [18]:
print('hi {0} your age is {1}'.format(name,age)) # Python 2 and 3

hi Vishwas your age is 25

## String Indexes

In [19]:
selfish = 'me me me'

In [23]:
print(selfish[0])

m

In [21]:
#[start:stop:stepover]

print(selfish[0:2])

me

In [22]:
nums = '123456'

print(nums[0:7])

123456

In [24]:
print(nums[-1])

6

In [26]:
# Reverse

print(nums[::-1])

654321

## Immutability 

- Cant change the values 
- Strings are immutable

In [28]:
selfish = 'me me me'

selfish[0] = '1'

TypeError: 'str' object does not support item assignment

## Built in Functions and Methods

In [29]:
len('hello')

5

In [30]:
abs(-10)

10

In [31]:
round(2.6)

3

### String methods

In [32]:
quote = 'to be or not to be'

In [33]:
quote.upper()

'TO BE OR NOT TO BE'

In [34]:
quote.capitalize()

'To be or not to be'

In [35]:
quote.find('be')

3

In [36]:
quote.replace('be', 'me')

'to me or not to me'

In [37]:
quote # Remember strings are immutable

'to be or not to be'

In [38]:
quote2 = quote.replace('be', 'me')

In [39]:
quote2

'to me or not to me'

## Booleans

In [43]:
print(bool(0))

False

In [45]:
print(bool(1))

True

In [46]:
print(bool('True'))

True

## Exercise : Password Checker

In [66]:
name = input('what is your name? ')
password = input('what is your password? ')

password_length = len(password)
hidden_password = '*' * password_length

what is your name vishwas
what is your password hello

In [68]:
print(f'Hello {name}, your password {hidden_password} is of length {len(password)}')

Hello vishwas, your password ***** is of length 5

## Data Structure

### 1.  Lists

- Lists are a form of arrays 
- Lists are Mutable

In [74]:
amazon_cart = ['notebooks', 'sunglasses', 'watch', 'toys']

In [75]:
amazon_cart[1]

'sunglasses'

#### List Slicing

In [76]:
amazon_cart[0:2]

['notebooks', 'sunglasses']

#### Mutable

In [77]:
amazon_cart[0] = 'laptop'
amazon_cart

['laptop', 'sunglasses', 'watch', 'toys']

#### Matrix

In [78]:
#2D

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [79]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [80]:
matrix[1][1]

5

#### Methods in Lists

In [84]:
basket = [1,2,3,4,5]
len((basket))

5

In [85]:
basket.append(100)
basket

[1, 2, 3, 4, 5, 100]

In [86]:
new_list = basket.append(100)
new_list

**Note:** Shows Nothing or None because append changes the list in place (i.e changes in basket list)

In [87]:
new_list = basket
new_list

[1, 2, 3, 4, 5, 100, 100]

In [88]:
basket.insert(4, 90)

In [89]:
basket

[1, 2, 3, 4, 90, 5, 100, 100]

In [91]:
basket.extend([200]) # Extend it with List bracket [ ]
basket

[1, 2, 3, 4, 90, 5, 100, 100, 200]

**Note:** In order to extend the list you have to specify it inside the Brackets

In [92]:
basket.pop()
basket

[1, 2, 3, 4, 90, 5, 100, 100]

In [93]:
basket.pop(0) # Removes the item by index
basket

[2, 3, 4, 90, 5, 100, 100]

In [94]:
basket.remove(90) # Removes the item by item

In [95]:
basket

[2, 3, 4, 5, 100, 100]

In [100]:
alphas = ['a', 'b', 'c', 'd','e']

In [101]:
alphas.index('c')

2

In [103]:
alphas.index('c', 0, 2) #(value, start, stop)

ValueError: 'c' is not in list

In [105]:
'a' in alphas

True

In [106]:
'vishwas' in 'my name is vishwas'

True

In [107]:
basket

[2, 3, 4, 5, 100, 100]

In [108]:
basket.count(100)

2

In [112]:
sorting = [1,5,9,18,43,2,7]

sorting.sort()
sorting

[1, 2, 5, 7, 9, 18, 43]

In [124]:
zort = [1,5,9,18,43,2,7]

print(sorted(zort)) # Dosen't modifies instead Generates a new Arry

zort # This will remain the same as before

[1, 2, 5, 7, 9, 18, 43]

[1, 5, 9, 18, 43, 2, 7]

In [127]:
zort.reverse()
# zort[::-1] # Another way to reverse
zort

[7, 2, 43, 18, 9, 5, 1]

In [128]:
new_zort = zort.copy()
new_zort

[7, 2, 43, 18, 9, 5, 1]

#### Common List patterns

In [132]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [133]:
sentence = '!'
new_sentence = sentence.join(['hi','my','name','is','vishwas'])
new_sentence

'hi!my!name!is!vishwas'

In [134]:
another_sentence = ' '.join(['hi','my','name','is','vishwas'])

In [135]:
another_sentence

'hi my name is vishwas'

#### List Unpacking

In [141]:
a,b,c, *other, d = [1,2,3,4,5,6,7]

In [142]:
other

[4, 5, 6]

In [143]:
a

1

In [144]:
d

7

### 2. Dictonary
- Holds key and Values
- A key needs to be immutable
- Key needs be unique

In [152]:
dictonary = {
    'a': [1,2,3,4],
    'b': 'hello',
    'x': True
}

In [153]:
dictonary

{'a': [1, 2, 3, 4], 'b': 'hello', 'x': True}

In [154]:
dictonary['a'][1]

2

In [155]:
my_list = [
    {
        'a': [1,2,3,4],
        'b': 'hello',
        'x': True
    },
    {
        'a': [5,6,7,8],
        'b': 'hi',
        'x': False
    }
]

In [156]:
my_list[0]['a'][2]

3

In [158]:
other = {
    123 : [1,2,3],
    True : 'hello'
}

In [160]:
other2 = {
    [100] : [1,12,34]
}

TypeError: unhashable type: 'list'

#### Dict Methods

In [161]:
user = {
    'name':'vishwas',
    'age':25
}

In [162]:
user.get('status', 'Single') # (to search, default)

'Single'

#### Another way to create a dictionary

In [163]:
user2 = dict(name = 'raj')

In [164]:
user2

{'name': 'raj'}

In [166]:
'age' in user.keys()

True

In [167]:
user.items()

dict_items([('name', 'vishwas'), ('age', 25)])

In [170]:
user2

{}

In [171]:
user

{'name': 'vishwas', 'age': 25}

In [172]:
user.pop('age')
# user.popItem() # Randomly Pops Item

25

In [173]:
user

{'name': 'vishwas'}

### Tuple
- It is Immutable, cant be changed
- They are faster then lists
- But don't support methods such as reverse() , sort()

In [174]:
my_tuple = (1,2,3,4,5)

In [175]:
my_tuple[1]

2

In [176]:
user3 = {
    (1,2) : [1,2,3]
}

user3[(1,2)]

[1, 2, 3]

#### Methods in Tuple

In [177]:
my_tuple.count(5)

1

In [178]:
my_tuple.index(5)

4

In [179]:
len(my_tuple)

5

### Sets
- Unordered collections on unique objects
- No Duplicates

In [180]:
my_set = {1,2,3,4,5,5,5}

In [181]:
my_set

{1, 2, 3, 4, 5}

In [182]:
my_set.add(100)
my_set

{1, 2, 3, 4, 5, 100}

In [183]:
my_set.add(2)
my_set

{1, 2, 3, 4, 5, 100}

In [184]:
# Converting List to Unique Sets

new_list = [1,2,3,4,5,5,5,5,5]
set(new_list)

{1, 2, 3, 4, 5}

In [185]:
my_set[0] # Dont support indexing

TypeError: 'set' object is not subscriptable

In [186]:
5 in my_set

True

#### Methods 
https://www.w3schools.com/python/python_ref_set.asp

### Exercise

In [188]:
# You are working for the school Principal. We have a database of school students:
school = {'Bobby','Tammy','Jammy','Sally','Danny'}

#during class, the teachers take attendance and compile it into a list. 
attendance_list = ['Jammy', 'Bobby', 'Danny', 'Sally']

#using what you learned about sets, create a piece of code that the school principal can use to immediately find out who missed class so they can call the parents. (Imagine if the list had 1000s of students. The principal can use the lists generated by the teachers + the school database to use python and make his/her job easier): Find the students that miss class!

In [189]:
#Solution: Notice how we don't have to convert the attendance_list to a set...it does it for you.
print(school.difference(attendance_list))

{'Tammy'}